File upload filename encoding isn't per spec

### Relevant specs
The most applicable RFCs are https://tools.ietf.org/html/rfc2183 (the original `filename` param in HTTP 1.1) and https://tools.ietf.org/html/rfc5987 (charset and language encoding in HTTP header field params). Also note this handy page full of samples: http://greenbytes.de/tech/tc2231/, and https://tools.ietf.org/html/rfc6266 which governs the `Content-Disposition` response header. (NB: I don't have a pressing client need for this; I found this problem implementing the server side of upload handling and found that basically nobody does this right.)

The gist of what they say is that request headers for file upload parts should look like this:

Filename expressible with ISO-8859-1:
```
Content-Disposition: form-data; name="file-input"; filename="iso 8859-1 bytes here"
```

Filename not expressible with ISO-8859-1:

```
Content-Disposition: form-data; name="file-input"; filename="unicode-snowman-in-utf8-is-?"; filename*=UTF-8''unicode-snowman-in-utf8-is-%E2%98%83
```

This includes a `filename*` param followed by `UTF-8`, a single `'`, a blank language specifier (though we could put `en_US` here or equivalent), another `'`, and the filename string with all characters not in ``!#$&+-.^_`|~`` + `[a-zA-Z0-9]` encoded into bytes as per UTF-8 and then percent-encoded. Optionally, we could choose to include the legacy `filename` param with unexpressible code points replaced with `?` or something to try and help out old servers that don't know how to deal with `filename*`, but it's not required by the spec.

### Current behavior
AHC currently touches this logic in two places, `FileLikePart` and `FileLikeMultipartPart`.

In `FileLikeMultipartPart`:

```
        if (part.getFileName() != null) {
            visitor.withBytes(FILE_NAME_BYTES);
            visitor.withByte(QUOTE_BYTE);
            visitor.withBytes(part.getFileName().getBytes(part.getCharset() != null ? part.getCharset() : US_ASCII));
            visitor.withByte(QUOTE_BYTE);
        }
```

While this seems like a reasonable thing to do, I think the only spec-compliant behavior here is to use ISO-8859-1 always when filling out the `filename` param.

In `FileLikePart`:

```
    public String toString() {
        return new StringBuilder()//
                .append(super.toString())//
                .append(" filename=").append(fileName)//
                .toString();
    }
```

I don't see where this code is used. I can see where `FileLikePart#getFileName()` is used in the FLMP code above, but not the `toString()`.

### Proposed changes

Unfortunately, this particular part of HTTP is inconsistently supported in practice. As can be seen from the, er, "enthusiastic" comments in https://github.com/kennethreitz/requests/issues/2117, people are surprised when filenames are encoded currectly. So, any solution is going to need to have robust support for encoding filenames in various ways. At a high level, I think this is a good mix of strategies that should cover most compatibility needs:

- Always use `filename` with ISO-8859-1, and don't send `filename*` ever (old style HTTP)
- Current AHC behavior that uses `filename` with the part's encoding, in case someone's depending on that
- Always use `filename` with ISO-8859-1 (substituting '?' as needed), and use `filename*` with UTF-8 if it can't be represented with just ISO-8859-1
- Always use `filename*` with UTF-8, and include `filename` if it can be represented in ISO-8859-1.

It's not clear to me how best to propagate the user's choice of filename encoding strategy. Should `MultipartPart#visitDispositionHeader` accept another parameter for the strategy? And presumably the user would pick this per-client in the client Config, though this is highly server-dependent, so if it's not too clumsy it would be nice to let users have a way of configuring a per-host policy so they don't have to create multiple Clients.

WDYT?

Well, what I really think is that the internet is an utter mess and those specs are a lost cause.

From [HTML5 spec](https://www.w3.org/TR/html5/forms.html#multipart-form-data):
> For details on how to interpret multipart/form-data payloads, see RFC 2388. [RFC2388]

[RFC2388](https://tools.ietf.org/html/rfc2388) (which is a proposed standard) is then obsoleted by [RFC7578](https://tools.ietf.org/html/rfc7578) (which is a proposed standard too) that [says](https://tools.ietf.org/html/rfc7578#section-4.2), regarding Content-Disposition header:
>   NOTE: The encoding method described in [RFC5987], which would add a "filename*" parameter to the Content-Disposition header field, MUST NOT be used.

I suspect we're having here a very common internet drama: RFC specifies weird things (ISO-8859-1, seriously?) so browsers come up with a different de facto standard that's ultimately translated into a new RFC that never gets validated (cf RFC2965 vs RFC6265 for cookies).

So I think what we should check is what browsers do.

*sigh* Oh Internet. What a mess you are.

I tested Firefox, Chromium, and IE11 uploading a filename with http://www.fileformat.info/info/unicode/char/1f01f/index.htm in the name. All three just jammed the UTF8 bytes into the `filename` param.

Well, since we have so many standards to choose from, what now? ;) I think there is value in letting users choose which standard they want to adhere to, since in practice servers vary.

> I tested Firefox, Chromium, and IE11 uploading a filename with http://www.fileformat.info/info/unicode/char/1f01f/index.htm in the name. All three just jammed the UTF8 bytes into the filename param.

Exactly what I expected. IMO, using anything else than `UTF-8` nowadays doesn't make any sense (eg JSON must be UTF-8/16/32, WebSocket text frames and Server-Sent Events must be UTF-8) and I expect browsers to converge on this and use UTF-8 everywhere without waiting for W3C to make it happen.

Anyway, this means that AHC should do the same (at least by default) and use UTF-8 too.

> I think there is value in letting users choose which standard they want to adhere to, since in practice servers vary.

Why not. The only technology that comes to my mind that uses multipart over HTTP and yet can't be used with browsers is SOAP...

Do you have anything in particular you'd look for in how the policy should be selected by the user (presumably with a "use utf-8 in filename" default)? Right now I'm thinking "interface with some impls available out of the box" rather than "enum" to allow users to do their own thing if need to be work around weird servers. This could be set in the AHCConfig, and in the DefaultAHCConfig.Builder, could default with the "UTF-8 in plain filename" impl.

Oh, and FWIW: Changing FileLikePart's toString() to return `"foo"` still has all tests passing, so maybe that's never used?

`toString` is only used for logging.

> Do you have anything in particular you'd look for in how the policy should be selected by the user (presumably with a "use utf-8 in filename" default)? Right now I'm thinking "interface with some impls available out of the box" rather than "enum" to allow users to do their own thing if need to be work around weird servers. This could be set in the AHCConfig, and in the DefaultAHCConfig.Builder, could default with the "UTF-8 in plain filename" impl.

Agree. enums should just be used to implement our built-in singletons.

@marshallpierce I switched the default charset to encode filename from US_ASCII to UTF-8.

OK. Are you still interested in a PR (which I haven't yet had time to implement) with the pluggable setup described above?

Personally, I don't need it, at least until someone shows up on the AHC or Gatling mailing list complaining about the behavior change.

If you need it, then please go ahead.
Otherwise, I'm reluctant to introduce a feature whose usefulness I'm not sure about.

That's fine. I don't need it immediately; I'll hold off until I do.

OK.

Thanks for your help!