DIGEST Auth does not work if server doesn't indicate algorithm

According to the RFC2617, page 10:

>   algorithm
>     A string indicating a pair of algorithms used to produce the digest
>     and a checksum. **If this is not present it is assumed to be "MD5".** If the algorithm is not understood, the challenge should be ignored (and a different one used, if there is more than one).

Unfortunately, the following WWW-Authenticate...

```
WWW-Authenticate: Digest realm="Internal", qop="auth", 
      nonce="1397037543433:d6d289782982db1f0102962ffda359b3",
      opaque="42D866E41804F5DB06646D2B0EB26C3F"
```

... will lead to the following Authentication to be sent ...

```
Authorization: Digest username="abc", 
     realm="Internal", 
     nonce="1397037543433:d6d289782982db1f0102962ffda359b3", 
     uri="http://localhost/abc", 
     algorithm=,                    <=== Algorithm is empty!
     response="c122f753b2cd3f4e26bdaa5c333c4b64", 
     opaque="42D866E41804F5DB06646D2B0EB26C3F", 
     qop=auth, nc=00000001, 
     cnonce="a612b9d1d6dd80922f307c0c24fb4014"
```

This breaks the DIGEST authentication because RFC2617 section 3.2.2 indicates the following:

> [In the Authorization header,] the values of the opaque and algorithm fields must be those supplied in the WWW-Authenticate response header for the entity being requested.

Async HTTP Client should either send NO algorithm or the default one (algorithm=MD5), but not an empty algorithm value because this is not what the server communicated in WWW-Authentication.

The fix would be in RealmBuilder#parseWWWAuthenticateHeader.
